# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# === Виртуальное окружение ===
.venv/
venv/
env/
ENV/

# === IDE ===
.idea/
.vscode/
*.swp
*.swo

# === Тесты ===
.pytest_cache/
.coverage
htmlcov/
*.log
*.xlsx
*.csv

# === Секреты ===
.env
.env.local
*.key
*.pem

# === Системные файлы ===
.DS_Store
Thumbs.db

# Allure reports
allure-results/
allure-report/

# Временные файлы Playwright
files/playwright_trace/
*.zip

# Скриншоты тестов
tests/screenshots/
*.png